<!-- templates/account/login.html -->
{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Sign In{% endblock title %}

{% block content %}
<div class="container">
  <p>
  <h2>Log In</h2>
  <form class="col-md-4" method="post">
    {% csrf_token %}
    {{ form|crispy }}
    <a class="button secondaryAction mr-2" href="{% url 'account_reset_password' %}">Forgot Password?</a>
    <button class="primaryAction btn btn-primary" type="submit">Sign In</button>
  </form>
  </p>
</div>
{% endblock content %}
